<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">




	<bean id="student1" class="com.javalec.ex.Student">
		<constructor-arg value="1"></constructor-arg>
		<constructor-arg value="홍길동"></constructor-arg>
		<constructor-arg value="컴퓨터전공"></constructor-arg>
		<constructor-arg value="서울시"></constructor-arg>
		<constructor-arg value="010-1111-1111"></constructor-arg>
	</bean>




	<bean id="student2" class="com.javalec.ex.Student">
		<constructor-arg value="2"></constructor-arg>
		<constructor-arg value="김유신"></constructor-arg>
		<constructor-arg value="영문학전공"></constructor-arg>
		<constructor-arg value="경남시"></constructor-arg>
		<constructor-arg value="010-2222-2222"></constructor-arg>
	</bean>




	<bean id="student3" class="com.javalec.ex.Student">
		<constructor-arg value="3"></constructor-arg>
		<constructor-arg value="유관순"></constructor-arg>
		<constructor-arg value="국문학전공"></constructor-arg>
		<constructor-arg value="경기도"></constructor-arg>
		<constructor-arg value="010-3333-3333"></constructor-arg>
	</bean>





	<bean id="stu_score1" class="com.javalec.ex.StuScore">
		<constructor-arg value="1"></constructor-arg>
		<constructor-arg value="100"></constructor-arg>
		<constructor-arg value="100"></constructor-arg>
		<constructor-arg value="100"></constructor-arg>
	</bean>




	<bean id="stu_score2" class="com.javalec.ex.StuScore">
		<constructor-arg value="2"></constructor-arg>
		<constructor-arg value="90"></constructor-arg>
		<constructor-arg value="90"></constructor-arg>
		<constructor-arg value="90"></constructor-arg>
	</bean>




	<bean id="stu_score3" class="com.javalec.ex.StuScore">
		<constructor-arg value="3"></constructor-arg>
		<constructor-arg value="80"></constructor-arg>
		<constructor-arg value="80"></constructor-arg>
		<constructor-arg value="80"></constructor-arg>
	</bean>




	<bean id="stuinfo" class="com.javalec.ex.StuInfo">
		<property name="list">
			<list>
				<ref bean="student1"></ref>
				<ref bean="student2"></ref>
				<ref bean="student3"></ref>
			</list>
		</property>
	</bean>




</beans>
